<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen</title>
    <style>
        @import url({{ url_for('static', filename='toolstyle.css')}}) layer(toolstyle);

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1 class="center">Skanna QR-koden med en mobilkamera</h1>
</body>
</html>
