<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välj lag - {{ competitionName }}</title>
    <style>
        @import url({{ url_for('static', filename='toolstyle.css')}}) layer(toolstyle);
        #teams {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        button {
            font-size: 30px;
            padding: 16px 64px;
            border-radius: 10px;
            width: 100%;
            border-color: #444444;
        }
    </style>
    <script>
        function setTeam(team) {
            document.cookie = `team=${team};path=/;max-age=86400`;
            const urlParams = new URLSearchParams(window.location.search);
            if(urlParams.has('id')) {
                window.location.href = `/qr?id=${urlParams.get('id')}`;
            } else {
                window.location.href = '/';
            }
        }
    </script>
</head>

<body>
    <h1 style="text-align: center;">Välj ditt lag:</h1>
    <div id="teams">
        {%for team in teams%}
        <button onclick="setTeam('{{ team }}')">{{ team }}</button>
        {%endfor%}
    </div>
</body>
</html>
